@font-face {
    font-family: "Visby CF";
    font-style: normal;
    font-weight: 400;
    src:
        url("fonts/VisbyCF-Regular.woff2") format("woff2"),
        url("fonts/VisbyCF-Regular.woff") format("woff");
}
$body-bg: #f8f9fa;
$body-color: #212529;
$primary: #00a4cf;
$font-family-base: "Visby CF", sans-serif;
.bg-opacity-90 {
    background-color: rgba($color: #0b0e14, $alpha: 0.97);
}
.bg-opacity-20 {
    background-color: rgba($color: #0b0e14, $alpha: 0.2);
}
.nav-link {
    color: #ffffff !important;
}
.entry-carousel {
    height: 100vh;
    .card-style {
        z-index: 9999;
        border-radius: 0 10px 0 10px;
        background-color: rgba(#0b0e14, 0.5) !important;
        color: white !important;
        a {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 0;
            margin-bottom: 0;
        }

        a:hover {
            background-color: rgba($primary, 0.7) !important;
            border-radius: 0;
        }
    }
    @media (min-width: 992px) {
        .card-style {
            bottom: 13.7vh;
            top: 65vh;
            height: 21.3vh;
            right: 60.5vw;
            left: 20vw;
            width: 19.5vw;
            justify-content: center;
        }
        h1 {
            font-size: 1.5vw;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .card-style {
            bottom: 13.7vh;
            top: 63vh;
            height: 23.3vh;
            right: 55.5vw;
            left: 20vw;
            width: 25.5vw;
        }
        h1 {
            font-size: 2.5vw;
        }
    }
    @media (max-width: 767px) {
        .card-style {
            bottom: 10vh;
            top: 82vh;
            height: 20vh;
            right: 55.5vw;
            left: 5vw;
            width: 80vw;
        }
        h1 {
            font-size: x-large;
        }
    }
}
.chat-button {
    position: fixed;
    min-width: fit-content;
    min-height: 50px;
    justify-content: center;
    height: 5%;
    top: 80%;
    bottom: 15%;
    width: 5%;
    left: 90%;
    right: 5%;
    z-index: 9999;

    box-shadow:
        0 -16px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    box-shadow:
        0 16px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    .icon {
        min-width: 30px;
        min-height: 30px;
        top: 90%;
        left: 92%;
    }
    @media (min-width: 992px) {
        height: 50px;
        width: 50px;
    }
    @media (max-width: 251px) and (min-width: 992px) {
        left: 20%;
        height: 50px;
        width: 50px;
    }
    @media (max-height: 250px) {
        display: none !important;
    }
}
.chat-box {
    position: fixed;
    height: 20vh;
    top: 75vh;
    bottom: 5vh;
    left: 85vw;
    right: 2.3vw;
    width: 10vw;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    display: none;
    z-index: 9999;
}
.service-board {
    background-image: url("../../Assets/Icons/Group\ 8199.svg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: repeat-y;
}
.quickinfo {
    position: relative;
    background-image: url("../../Assets/Photos/CO-07.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.95);
    }
    p {
        opacity: 0.6;
    }
}
.amenities {
    padding: 0;
    margin: 0;
}
.amenities-card {
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .icon-line {
        border-bottom: 4px solid #2d3748;
        display: inline-block;
        width: 50px;
    }
    .text-line {
        border-bottom: 4px solid #2d3748;
        display: inline-block;
        width: 100px;
    }
    .icon-size {
        width: 70px;
        height: 70px;
    }
}
.icon-line {
    border-bottom: 4px solid #2d3748;
    display: inline-block;
    width: 50px;
}
.text-line {
    border-bottom: 4px solid #2d3748;
    display: inline-block;
    width: 100px;
}
.owl-carousel {
    text-align: center;
    background: #fff;
    border: 1px solid #ececec;
    padding: 20px;
    .shadow-effect {
        p {
            font-family: inherit;
            font-size: 17px;
            line-height: 1.5;
            margin: 0 0 17px 0;
            font-weight: 300;
        }
    }

    .testimonial-name {
        margin: -17px auto 0;
        width: auto;
        background: #3190e7;
        padding: 9px 35px;
        border-radius: 12px;
        color: #fff;
        box-shadow:
            0 9px 18px rgba(0, 0, 0, 0.12),
            0 5px 7px rgba(0, 0, 0, 0.05);
    }

    .owl-item {
        & {
            .icon {
                margin-top: -100px !important;
                padding: 5px;
                background-color: #0025bb14;
                max-width: 90px;
                border-radius: 16px;
                margin: auto;
            }
            .testimonial-text {
                padding-top: 20%;
                background-color: white;
                border-radius: 16px;
                box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
                width: 100%;
                @media (max-width: 767px) {
                    width: 95%;
                }
            }
            .item {
                transform: scale3d(0.8, 0.8, 1);
                transition: all 0.3s ease-in-out;
            }
        }
        &.active.center .item {
            transform: scale3d(1, 1, 1);
        }
    }
}
.footer {
    position: relative;
    background-image: url("../../Assets/Photos/CO-07.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .footer-content {
        position: relative;
        z-index: 2;
    }
}
.about-us {
    display: grid;
    width: 100vw;
    height: 75vh;
    background-image: url("../../assets/photos/Fully-serviced\ Workspace@2x.png");
    background-size: 100% 100%;
    background-position: center;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        background-color: rgba(0, 0, 0, 0.6);
    }
}
.parent-bg {
    position: relative;
    width: 100vw;
    background-image: url("../../assets/icons/Group\ 8199.svg");
    background-repeat: repeat;
    background-position: center;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
    }
    .row-font {
        font-size: 4em;
        @media (max-width: 1100px) {
            font-size: 2.2em;
        }
    }
}
.btn-hover:hover {
    background-color: white !important;
    border-color: $primary !important;
    color: $primary !important;
}
.circle {
    width: 100%;
    border-radius: 50%;
}
.form {
    position: relative;
    background-image: url("../../assets/photos/Fully-serviced Workspace@2x.png");
    background-position: center;
    background-repeat: repeat;
    .label {
        color: rgba(165, 177, 190, 1) !important;
        margin-bottom: 1em;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(45, 55, 72, 0.9);
    }
    .form-content {
        position: relative;
        z-index: 2;
    }
    .form-control {
        margin-bottom: 1em;
        &::placeholder {
            color: rgba(255, 255, 255, 0.5) !important;
        }
        &::-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.5) !important;
        }

        &::-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.5) !important;
        }
    }
    .form-control:hover :active {
        background-color: $body-bg !important;
        color: $primary !important;
        border-color: $primary;
        &::placeholder {
            color: rgba(255, 255, 255, 1) !important;
        }
        &::-ms-input-placeholder {
            color: rgba(255, 255, 255, 1) !important;
        }

        &::-ms-input-placeholder {
            color: rgba(255, 255, 255, 1) !important;
        }
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";
